# Server Configuration
NODE_ENV=development
PORT=3001

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1234
DB_NAME=portal_candidatos_la_carihuela

# JWT Configuration
JWT_SECRET="ItGCHTTH6Rdqnpox74HTcUJRjB+HacXoy+IsQhN8W/g="

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:4200

# Logging
LOG_LEVEL=debug
